body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #090227 0%, #030165 25%, #0a0099 50%, #201177 75%, #05001d 100%);
  overflow: hidden;
}

#gameCanvas {
  display: block;
  border: 2px solid rgb(255, 255, 255);
  box-shadow: 0 0 30px rgb(34, 53, 160);
}